/*normalize padding & margin*/
.paddingNormalize { padding: 0;}
.marginNormalize { margin: 0; }

/* side padding of all rows so that they are not stucking to the left and right edges*/
.rowIntent {
    padding: 0 40px;
}

/* distance between two cols so that they are not stucking together too much*/
.left { width: 94%; }

/*to align pictures to the center*/
.selfAlignCenter {
    align-self: center;
}
.placeContentCenter {
    place-content: center;
}

/*small user pictures for profile and forum*/
.smallUserPics {
    max-width: 100px;
    min-width: 50px;
    width: 80%;
    border-radius: 100px;
}

/*green hr line underneath the h2 of sections, lay class on a div container to get the green line*/
.greenLine {
    width: 100%;
    height: 2px;
    background: #97B753;
    margin-bottom: 4%;
}

/*weiße Linien*/
.whiteLine {
    width: 100%;
    height: 1px;
    background: white;
}

.whiteLineVert {
    border-left: 1px solid white;
}

/*dropshadow*/
.dropShadow {
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.19);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.19);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.19);
}

/*right side floating boxes*/
.rightBoxesPadding { padding: 20px; }

/*basic border radius for elements and boxes*/
.borderRad10{
    border-radius: 10px;
}

/*container for fluid & not-fluid objects --> use @media here to get the basic sizes done*/
#baseContainer {
    padding-right: 0;
    padding-left: 0;
}

.marginLeftRight { margin-left: 5%; margin-right: 5%; }
.paddingLeftRight { padding-left: 7%; padding-right: 7%; }
.siteMarinTop { margin-top: 7%; }
.siteMarginBottom { margin-bottom: 7%; }
.sitePaddingTop { padding-top: 7%; }
.sitePaddingBottom { padding-bottom: 7%; }

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    .paddingLeftRight { padding-left: 4%; padding-right: 4%; }
    .marginLeftRight { margin-left: 4%; margin-right: 4%; }

    .smallUserPics { width: 80%; }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .smallUserPics { width: 60%; }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .paddingLeftRight { padding-left: 2%; padding-right: 2%; }
    .marginLeftRight { margin-left: 2%; margin-right: 2%; }
}