.loginLogo svg {
    fill: white;
    height: 200px;
}

.h1Logo {
    font-size: 350%;
    text-transform: uppercase;
}

/*Formular*/
#loginForm { margin-top: 18%; }

#loginForm label {
    width: 25%;
    font-size: 130%;
    text-align: left;
    margin-right: 2%;
}
#loginForm input {
    width: 61%;
    margin-bottom: 2%;
    color: #707070;
    height: 80%;
    border-radius: 10px;
}
#loginForm button {
    margin-right: 13%;
}