.loginRegisterh1 {
    font-size: 140%;
    text-transform: uppercase;
    margin-bottom: 5%;
    text-align: center;
}

#registerForm label {
    font-size: 140%;
    margin-right: 2%;
    width: 25%;
    text-align: right;
}
#registerForm .registerInputs input {
    width: 55%;
    height: 100%;
    color: #707070;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 100%;
    padding: 1% 2%;
    margin-bottom: 2%;
}

#registerForm #registerButton {
    text-align: end;
    margin-right: 17%;
}

.registerLogo {

}