/*basic color for background and font-color*/
body {
    background-color: white;
    color: #707070;
}

/* Font-Color classes*/
.fontWhite { color: white;}
.fontLightGrey { color: #DEDEDE; }
.fontDarkGrey { color: #707070; }
.fontLightGreen { color: #B8E269; }
.fontDarkGreen { color: #97B753; }

/* Background-Color classes*/
.bgWhite { background-color: #ffffff; }
.bgLightGrey { background-color: #DEDEDE; }
.bgDarkGrey { background-color: #707070; }
.bgWhiteGrey{ background-color: #F5F5F5; }
.bgLightGreen { background-color: #B8E269; }
.bgDarkGreen { background-color: #97B753; }

/* Buttons */
.buttonDarkGreen {
     background-color: #97B753;
     padding: 10px 14px;
     color: white;
     border: 2px solid #97B753;
     border-radius: 10px;
     font-size: 110%;
     margin-bottom: 2%;
     margin-top: 2%;
 }
.buttonDarkGreen:hover {
    background-color: #B8E269;
    border: 2px solid #B8E269;
    color: #707070;
}
.buttonDarkGreen:active {
    background-color: #97B753;
    border: 2px solid #97B753;
    color: white;
}

.buttonDarkGreenSmall {
    background-color: #97B753;
    padding: 10px 14px;
    color: white;
    border: 2px solid #97B753;
    border-radius: 10px;
    font-size: 10pt;
    margin-bottom: 2%;
    margin-top: 15%;
    padding: 3%;
}
.buttonDarkGreenSmall:hover {
    background-color: #B8E269;
    border: 2px solid #B8E269;
    color: #707070;
}
.buttonDarkGreenSmall:active {
    background-color: #97B753;
    border: 2px solid #97B753;
    color: white;
}

.buttonWhite {
    background-color: white;
    padding: 10px 14px;
    color: #97B753;;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 110%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-weight: bold;
}
.buttonWhite:hover {
    background-color: #B8E269;
    color: #707070;
    border: 2px solid #B8E269;
}
.buttonWhite:active {
    background-color: white;
    color: #97B753;;
    border: 2px solid white;
}

/*smaller Buttons*/
.buttonIndexDarkGreen {
    background-color: #97B753;
    padding: 5px 14px;
    color: white;
    border: 2px solid #97B753;
    border-radius: 10px;
    font-size: 110%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.buttonIndexDarkGreen:hover {
    background-color: #B8E269;
    color: #707070;
    border: 2px solid #B8E269;
}
.buttonIndexDarkGreen:active {
    background-color: #97B753;
    color: white;
    border: 2px solid #97B753;
}
.buttonWhiteIndex {
    background-color: white;
    padding: 5px 14px;
    color: #97B753;;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 110%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-weight: bold;
}
.buttonWhiteIndex:hover {
    background-color: #B8E269;
    color: #707070;
    border: 2px solid #B8E269;
}
.buttonWhiteIndex:active {
    background-color: white;
    color: #97B753;;
    border: 2px solid white;
}


/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .buttonDarkGreen {
        padding: 10px 12px;
        font-size: 100%;
        margin-bottom: 2%;
        margin-top: 2%;
    }
}