/*basic font for the site*/
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 110%;
    font-weight: normal;
}

/*font-weight*/
.fontBold { font-weight: bold; }
.fontNormal { font-weight: normal; }
.fontLight { font-weight: lighter; }


a {
    color: inherit;
}


a:link {
    text-decoration: none;
}

.fontUpperCase { text-transform: uppercase; }

/*ul class for no list style*/
.noListStyle {
    list-style-type: none;
    margin-bottom: 0px;
    padding: 0px;
}

.alignTextCenter { text-align: center; }

h1 { font-size: 200%; }
h4 {
    font-size: 140%;
    margin-top: 5%;
}

.h3Margin {
    margin-top: 50px;
    color: #97B753;
}

.marginTopOnSite { margin-top: 50px; }

@media (max-width: 1199.98px) {
    body {
        font-size: 100%;
    }
}


/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .h3Margin { font-size: 140%; }
    body { font-size: 100%; }
    .h4Box { font-size: 120%; }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body { font-size: 80%; }
    .h3Margin { font-size: 120%; }

    p:first-of-type, p { font-size: 100%; }
    p { font-size: 100%; }
}