#threadRow{
    width: 700px;
}
#threadBox{
    background-color:#97B753;
    margin-left:10%;
    margin-right:10%;
    margin-top:10px;
    width: 100%;
    border-radius: 12px;
}
#threadHeadline{
    font-size: larger;
}
#commentBox{
    background-color:#707070;
    text-decoration-color: #222222;
    margin-left:10%;
    margin-right:10%;
    margin-top:10px;
    width: 100%;
    border-radius: 12px;
}
#commentText{
    color: #222222;
}
#commentUserImage{
    border-radius: 50px;
}

