
.scroll {
    height: 40%;
    overflow: scroll;
}

/*everything but userplants*/

.windowImage {
    margin: 0;
    padding: 0;
}

.garden{
    margin-top:50px;
    margin-bottom: 5px;
}
.garden h1{
    font-size: 2.5rem;
}

.add { padding-top: 11px; }

/*icons*/

.iconGarden svg { width: 10%; fill: white; }
.iconGarden svg .path1 { fill: #B8E269; }
.iconGarden svg:hover .path1 {  fill: #97B753; }
.iconGarden svg:active { fill: #B8E269; }
.iconGarden svg:active .path1 { fill: #000000;}
.iconGarden {padding-top: 11px;}

.calendar svg { width: 10%; fill: white; }
.calendar svg .path1 { fill: #B8E269; }
.calendar svg:hover .path1 {  fill: #97B753; }
.calendar svg:active { fill: #B8E269; }
.calendar svg:active .path1 { fill: #000000;}

/*userplants*/

.userplants { margin-top:50px; }

a:link { text-decoration: none; }
a { color: #6E6E6E; }

.plantsProfil {
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 10px 10px 10px 30px;
    width: 90%;
}

.plantsProfil:hover {
    background-color: #707070;
    color: white;
}

.plantsProfil:active {
    background-color: #DEDEDE;
    color: #707070;
}

.plantInfo {
    font-size: 10pt;
    text-align: left;
}

.plantInfo p {
    margin-bottom: 2.5%;
}

.gardenPFirst {
    font-size: 11.5pt;
}

.list {
    margin-top: 25px;
}

.plantWindow{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/* add plant window*/

.plantProfil {
    border-radius: 10px;
    padding: 10px 10px 10px 30px;
    margin-bottom: 30px;
    height: 120px;
    color: #707070;
}

.addPlant {
    padding: 50px;
    height: 100vh;
    overflow: auto;
    background: #DEDEDE;

}

.searchBar {
    margin-bottom: 50px;
    border-color: #97B753;
    padding: 4%;
    background-color: #DEDEDE;
}

.spacingPlants {
    margin-bottom: 20px;
}

.edit {
    font-size: x-small;
}
