/*-----------------------formular styles-----------------------------*/
/*formulars plantbase style*/
.textareaPlantForm {
    width: 100%;
    height: 100%;
    border: 1px solid #97B753;
    border-radius: 4px;
    background-color: #F5F5F5;
    text-align: left !important;
}

.inputPlantForm {
    width: 100%;
    height: 100%;
    border: 1px solid #97B753;
    border-radius: 4px;
    background-color: #F5F5F5;
}

/*-------------------------------normalize styles---------------------*/
/*normalize padding & margin*/
.paddingNormalize { padding: 0;}
.marginNormalize { margin: 0; }

/*------------------------------------------special style to use for having all spaces similar-------------------------------*/
/* side padding of all rows so that they are not stucking to the left and right edges*/
.rowIntent { padding: 0 40px; }

/* distance between two cols so that they are not stucking together too much*/
.left { width: 94%; }

/*container for fluid & not-fluid objects --> use @media here to get the basic sizes done*/
#baseContainer {
    padding-right: 0;
    padding-left: 0;
}

.lastBeforeFooter {
    margin-bottom: 10%;
}
.firstAfterHeader { margin-top: 7%; }
.firstAfterMenue { margin-top: 9%; }

.marginLeftRight { margin-left: 5%; margin-right: 5%; }
.paddingLeftRight { padding-left: 7%; padding-right: 7%; }
.siteMarginBottom { margin-bottom: 7%; }
.sitePaddingTop { padding-top: 7%; }
.sitePaddingBottom { padding-bottom: 7%; }

/*---------------------------------------------Ausrichtungen--------------------------------*/
/*to align pictures to the center*/
.selfAlignCenter { align-self: center; }
.placeContentCenter { place-content: center; }

/*right side floating boxes*/
.rightBoxesPadding { padding: 20px; }

/*--------------------------------------------Userbild Styling für Profil / Forum / Freunde-----------------------------*/
/*small user pictures for profile and forum*/
.smallUserPics {
    max-width: 100px;
    min-width: 50px;
    width: 80%;
    border-radius: 100px;
}

/*--------------------------------------------Linien----------------------------------------------------------*/
/*green hr line underneath the h2 of sections, lay class on a div container to get the green line*/
.greenLine {
    width: 100%;
    height: 2px;
    background: #97B753;
    margin-bottom: 4%;
}

/*weiße Linien*/
.whiteLine {
    width: 100%;
    height: 1px;
    background: white;
}

/*weiße Linie senkrecht*/
.whiteLineVert { border-left: 1px solid white; }

/*schmale graue linie*/
.smallWhiteGreyLine {
    width: 100%;
    height: 1px;
    background: #DEDEDE;
    margin-bottom: 4%;
    margin-top: 2%;
}

/*------------------------------------------Spezielle Effekte-----------------------------------------*/
/*dropshadow*/
.dropShadow {
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.19);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.19);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.19);
}

/*makes the pictures to a circle -basic border radius for elements and boxes*/
.borderRad10{
    border-radius: 10px;
}

/*--------------------------zurück/weiter element--------------------*/

.backSvg {
    width: 20px;
    height: 20px;
    fill: #97B753;
    padding-right: 2%;
}
.backLinkDiv {
    text-align: right;
    padding-right: 1%;
}
.backLink:hover { color: #97B753; }
.backLink:hover .backSvg { fill: #B8E269; }
.backLink:active { color: #707070; }
.backLink:active .backSvg { fill: #707070; }




/*----------------------------------------------------Media Queries------------------------------------*/

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    .paddingLeftRight { padding-left: 4%; padding-right: 4%; }
    .marginLeftRight { margin-left: 4%; margin-right: 4%; }

    .smallUserPics { width: 80%; }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .smallUserPics { width: 60%; }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .paddingLeftRight { padding-left: 2%; padding-right: 2%; }
    .marginLeftRight { margin-left: 2%; margin-right: 2%; }

    .paddingLeftRight {
        padding-left: 5%;
        padding-right: 5%;
    }
}