.greyLine {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    height: 1.5px;
    background: grey;
}
.greyLineThin {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    height: 0.7px;
    background: grey;
}

#newsThumbnail{
    height:300px;
    width: 100%;
}

#news{
    text-transform: uppercase;
    color: #97B753;
    margin-top: 3%;
    font-size: 160%;
}
#date{
    font-size: 100%;
}

#title{
    margin-top: 4%;
    font-size: 135%;
    color:#97B753;

}

#shortText{
    margin-top: 2%;
    font-size: 100%;
}

#readMore{
    font-size: 90%;
    margin-top: 3%;
    margin-bottom: 10%;
    color:#97B753;
}

#longText{

    text-align: justify;
    margin-left:15%;

}

#shortTextIntro{
    margin-top: 3%;
    font-weight: bold;

}

.iconNews svg { width: 3%; fill: white; }
.iconNews svg .path1 { fill: #B8E269; }
.iconNews svg:hover .path1 {  fill: #97B753; }
.iconNews svg:active { fill: #B8E269; }
.iconNews svg:active .path1 { fill: #000000;}
.iconNews {
    padding-top: 11px;
    padding-bottom: 5px;

}

.articleButtons{
    background-color: Transparent;
    outline: none;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}