.greyLine {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    height: 1px;
    background: grey;
}

#newsThumbnail{
    width: 150px;
    height: 150px;
}

#news{
    text-transform: uppercase;
    color: #97B753;
    margin-top: 7%;
    font-size: 160%;
}
#date{
    font-size: 100%;
}

#time{
    font-size: 100%;
}

#title{
    margin-top: 4%;
    font-size: 135%;
    color:#97B753;
}

#shortText{
    margin-top: 2%;
    font-size: 100%;
}

.readMore{
    margin-top: 3%;
    margin-bottom: 4%;
    color:#97B753;
}

#longText{

    margin-left:15%;

}