.greyLine {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    height: 1.5px;
    background: grey;
}

#newsThumbnail{
    width: 30px;
    height: 100px;
}

#news{
    text-transform: uppercase;
    color: #97B753;
    margin-top: 7%;
    font-size: 160%;
}
#date{
    font-size: 100%;
}

#title{
    margin-top: 4%;
    font-size: 135%;
    color:#97B753;

}

#shortText{
    margin-top: 2%;
    font-size: 100%;
}

#readMore{
    font-size: 90%;
    margin-top: 3%;
    margin-bottom: 10%;
    color:#97B753;
}

#longText{

    text-align: justify;
    margin-left:15%;

}

#shortTextIntro{
    margin-top: 3%;
    font-weight: bold;

}