/**
.fade-move {
  transition: transform 10s;
}
.fade-enter-active,
.fade-leave-active {
     transition: all 0.9s ease;
  overflow: hidden;
  visibility: visible;
  position: relative;
  width:100%;
  opacity: 1;
    transform: translateX(500px);
}

.fade-enter,
.fade-leave-to {
  visibility: hidden;
  width:100%;
  opacity: 0;
  transform: translateX(500px);
}

**/

.slide-fade-enter-active{
    overflow: hidden;
    visibility: hidden;
    transition: all 1s ease;
    position: absolute;

}
.slide-fade-leave-active{
    transition: all 0.4s ease;

}

.slide-fade-enter-to{
    transition: all 0.4s ease;

}
.slide-fade-leave-to{
    transition: all 1s ease;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}


.indexArrows svg { width: 50%; fill: #97B753; color:BLACK; }
.indexArrows svg:hover { fill: #B8E269; }
.indexArrows svg:active { fill: #707070; }

