{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <div class="row">
        <div class="col right marginLeftRight">
            <div class="row garden">
                <h1 class="col-sm" id="news">Neuigkeiten</h1>

            <div class="greenLine"></div>

                {% for article in news %}
                <div class="col-lg-4">
                    <p><img style="width: 10%;" src="{{ article.thumbnail }}"></p>
                </div>
                <div class="col-lg-8">
                    <h3 id="date">03. April 2020, 00:35</h3>
                    <h2 id="title">{{ article.title }}</h2>
                    <p id="shortText">{{ article.shortText }}</p>
                    <a  class="readMore" href="">mehr lesen <b>>> </b></a>
                </div>
                    <div class="greenLine"></div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
