{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <div class="row">
        <div class="col right marginLeftRight">
            <div class="row garden">
                <h1 class="col-sm" id="news">Neuigkeiten</h1>

            <div class="greenLine"></div>
                {# article1 #}
                <div class="col-lg-4">
                    <p>Hier bild einfügen</p>
                </div>
                <div class="col-lg-8">
                    <h3 id="date">03. April 2020, 00:35</h3>
                    <h2 id="title">Das sind die besten Anti-Stress-Pflanzen</h2>
                    <p id="shortText">Gestressten Menschen wir oft zu Achtsamkeitsübungen und Spaziergängen in der Natur geraten. Begleitend können aber Kräuter Linderung bringen. Ein Experte erklärt, welche Pflanzen dafür infrage kommen.</p>
                    <a  class="readMore" href="">mehr lesen <b>>> </b></a>
                </div>
                {# article2 #}
                <div class="greyLine"></div>
                <div class="col-lg-4">
                    <p>Hier bild einfügen</p>
                </div>
                <div class="col-lg-8">
                    <h3 id="date">03. April 2020, 00:35</h3>
                    <h2 id="title">Diese giftige Pflanzen verursacht fiese Verbrennungen</h2>
                    <p id="shortText">Zunächst nur in Gärten als Zierpflanze eingebracht, breitet sich der Riesenbärenklau mittlerweile in der heimischen Flora immer weiter aus. Nicht ohne Folgen für die Gesundheit. Denn die Herkulesstaude verursacht schmerzhafte Verbrennungen.
                        Das sollten Sie über die Pflanze wissen.</p>
                    <a  class="readMore" href="">mehr lesen <b>>> </b></a>
                </div>

                <div class="greyLine"></div>

                {# article3 #}
                <div class="col-lg-4">
                    <p>Hier bild einfügen</p>
                </div>
                <div class="col-lg-8">
                    <h3 id="date">03. April 2020, 00:35</h3>
                    <h2 id="title">Diese Wildkräuter und Beeren sind echte Nährstoffbomben</h2>
                    <p id="shortText">Superfoods liegen im Trend und sind inzwischen in Drogerie, Reformhaus oder Biomarkt zu haben. Dabei muss man für die Nährstoffbomben gar nicht tief in die Tasche greifen.
                        Vor der Haustür wachsen Superfoods auch in Deutschland in Hülle und Fülle.</p>
                    <a  class="readMore" href="">mehr lesen <b>>> </b></a>
                </div>
                <div class="greyLine"></div>

            </div>
        </div>
    </div>
{% endblock %}
