{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <div class="row">
        <div class="col right marginLeftRight">
            <div class="row garden">
                <h1 class="col-sm">Neuigkeiten</h1>

            <div class="greenLine"></div>

            </div>
        </div>
    </div>
{% endblock %}
