<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Garden{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

{% block body %}
    <h1>Mein Garten</h1>

    <div>hinzufügen</div>
    <div>Bild auf der Seite</div>

    {% for plant in plants %}
    <div id="Eintrag" >
        <ul>
            <li>{{ plant.name }} ({{ plant.genus }})</li>
            <li>Ist durstig!</li>
            <li>Standort</li>
            <li>Gießzeit</li>
            <li>Menge</li>
        </ul>
        <div>Bild</div>
        <button>Gießen</button>
    </div>

    {% endfor %}

{% endblock %}

</body>
</html>