{% extends 'base.html.twig' %}

{% block title %}My Garden{% endblock %}

{% block body %}

    <div class="row">
    <div class="col-sm">
    <h1>Mein Garten</h1>

    <div>hinzufügen</div>

    <div class="row border border-success" >
        <div class="col-sm">
        <div class="row">
            {% for plant in plants %}
    {% for im in image %}
            <div class="col-sm" id="Eintrag">
                <ul>
                    <li >{{ plant.name }} ({{ plant.name }})</li>
                    <li>Ist durstig!</li>
                    <li>{{ plant.location }} </li>
                    <li>Gießzeit</li>
                    <li>Menge</li>
                </ul>
            </div>

            <img src="{{ im.icon }}" alt="Picture of plant" height="40" class="col-sm">

        </div>

        <div class="row">
            <button class="col-sm" >Gießen</button>
        </div>

        </div>
    </div>
    </div>

    <div class="col-sm">
        <img src="/build/images/Aloe.png" alt="Plant side view" height="800" class="col-sm">
    </div>

    </div>


    {% endfor %}
    {% endfor %}

{% endblock %}


