{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <div class="row">
    <div class="col right marginLeftRight">
    <div class="row garden">
    <h1 class="col-sm" id="news"> </h1>

    <div class="greenLine"></div>

    <div class="col-lg-8" id="longText">
        <h3 id="date">03. April 2020, 00:35</h3>
        <p><img style="width: 10%;" src="{{ article.thumbnail }}"></p>
        <h2 id="title">{{ article.title }}</h2>
        <p id="shortText">{{ article.longText }}
        </p>
        <a  class="backNews" href="{{ path('news') }}">zurück<b>>> </b></a>
    </div>

{% endblock %}