{% extends 'base.html.twig' %}
{% block title %}Userplant{% endblock %}

{% block body %}
    <div class="container-fluid marginLeftRight">
    <h1>Suche</h1>
    <textarea placeholder="Suchbegriff"></textarea>
    <p>Auswahlfeld Kategorie auswählen</p>
    <p>Auswahlfeld Schwierigkeit auswählen</p>
    <button>Suche starten</button>
    <p>Banner Pflanzen entdeckon (Randmgenerator)</p>
    </div>
{% endblock %}