{% extends 'base.html.twig' %}
{% block title %}Userplant{% endblock %}

{% block body %}
    <div id="baseInfos">
        <h2>{{ userplant.name }}</h2>
        <h3>Pflanzenkategorie</h3>
        <p>{{ userplant.location }}</p>

        <ul>
            <li id ="watering">Gießintervall</li>
            <li id="wateringDay">Gießtag</li>
        </ul>
    </div>

    <div id="picture">
        <p>img</p>
        <p>Level</p>
    </div>

    <div id="careTips" class="dropInfos">
        <h3>Pflegetipps</h3>
        <p>Pflegetipps aus Pflanzendatenbank</p>
    </div>

    <div id="moreInfos" class="dropInfos">
        <h3>Weitere Informationen</h3>
        <p>Weitere Informatioen aus Pflanzendatenbank</p>
    </div>

    <div id="baseInfoWidgets">
        <div id="dung">
            <ul>
                <li>Düngen</li>
                <li>Bild</li>
                <li>Info</li>
            </ul>
        </div>
        <div id="locationWidget">
            <ul>
                <li>Standort</li>
                <li>Bild</li>
                <li>Info</li>
            </ul>
        </div>
        <div id="substrateWidget">
            <ul>
                <li>Substrat</li>
                <li>Bild</li>
                <li>Info</li>
            </ul>
        </div>
        <div id="tempWidget">
            <ul>
                <li>Temperatur</li>
                <li>Bild</li>
                <li>Info</li>
            </ul>
        </div>
    </div>

    <div id="additionalInfoWidget">
        <div id="bloomWidget">
            <ul>
                <li>Blütezeit</li>
                <li>Bild</li>
                <li>Info</li>
            </ul>
        </div>
        <div id="specialWidget">
            <ul>
                <li>Blütezeit</li>
                <li>Bild</li>
                <li>Info</li>
            </ul>
        </div>
    </div>

    <div id="notes">
        <h3>Meine Notizen</h3>
        <button>bearbeiten</button>
        <p>Bild</p>
        <input></input>
        <p>User Notizen</p>
    </div>

    <div id="dataBaseLink">
        <p>Weiter zum Datenbankeintrag</p>
    </div>
{% endblock %}